.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vm;
}

.headerMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: cornflowerblue;
  width: 100%;
  height: 40px;
}

.search{
    border-radius: 25pc;
    padding: 0.5rem;
    margin-left:10px;
    width: 100%;
    height: 30px;
    align-self: center;
}

.search:active{
  border-radius: 25pc;
}

.search:checked{
  border-radius: 25pc;
}

.search:focus{
  border-radius: 25pc;
  outline: none;
}

.paragraph {
  color: black;
  
}

.paragraph:hover{
    color: bisque;
}

.paragraph:active{
    color: red;
}